In [4]:
import pandas as pd
import numpy as np

In [34]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

pd.set_option('max.columns',60)


dataFolder = 'paynet_data'

In [6]:
def getUniqueList(var, debug = True):

    fileList =os.listdir(dataFolder)
    fileList = sorted(fileList, key = lambda x : int(x.split("_")[-1].split(".")[0])   )

    uniqueList = set([])

    for i in range(len(fileList)):

        print(f"Reading {fileList[i]}")
        df = pd.read_csv(os.path.join(dataFolder, fileList[i]), usecols=[var])

        uniqueList = set(list(uniqueList) + list(df[var].unique()))
        uniqueList = [x for x in uniqueList if pd.isna(x)==False]
        if debug == True:
            print(f"Number of unique elements : {len(uniqueList)}")
        
    return uniqueList

### Creating RegionMapping

In [48]:
# out = getUniqueList('RegionName', debug = False)

# regionMapping = {}

# index = 0

# for i in range(len(out)):
    
#     if out[i] in ['Undefined', 'Unclassified']:
#         continue
    
#     regionMapping[out[i]] = index
#     index += 1

    
# df = pd.DataFrame({"RegionName":list(regionMapping.keys()), "RegionNo":list(regionMapping.values())} )

# temp = pd.DataFrame({"RegionName":['Undefined','Unclassified'], "RegionNo":[np.NaN, np.NaN]})

# df = df.append(temp)

# df.to_csv("RegionName_Mapping.csv",index= False, index_label =False)

In [51]:
regionMap = pd.read_csv("RegionName_Mapping.csv")



regionMapping = {}

for i in range(len(regionMap)):
    data = regionMap.iloc[i]
    
    regionMapping[data.RegionName]  = data.RegionNo

In [52]:
regionMapping

{'Idaho (West)': 0.0,
 'Tennessee (South)': 1.0,
 'Iowa (Midwest)': 2.0,
 'Vermont (Northeast)': 3.0,
 'Indiana (Midwest)': 4.0,
 'Ohio (Midwest)': 5.0,
 'Illinois, Excl. Metro Chicago (Midwest)': 6.0,
 'Massachusetts (Northeast)': 7.0,
 'West Virginia (South)': 8.0,
 'Texas, Ship Channel (South)': 9.0,
 'Montana (West)': 10.0,
 'Texas, Metro Houston (South)': 11.0,
 'Louisiana (South)': 12.0,
 'Georgia (South)': 13.0,
 'Alaska (West)': 14.0,
 'California (West)': 15.0,
 'New Jersey, Excl. Metro NY (Northeast)': 16.0,
 'Missouri (Midwest)': 17.0,
 'Maine (Northeast)': 18.0,
 'New Mexico (West)': 19.0,
 'Connecticut, Excl. Metro NY (Northeast)': 20.0,
 'Oregon (West)': 21.0,
 'Nebraska (Midwest)': 22.0,
 'Wyoming (West)': 23.0,
 'Colorado (West)': 24.0,
 'North Dakota (Midwest)': 25.0,
 'Alabama (South)': 26.0,
 'South Dakota (Midwest)': 27.0,
 'Arkansas (South)': 28.0,
 'Northern California (West)': 29.0,
 'Rhode Island (Northeast)': 30.0,
 'Arizona (West)': 31.0,
 'New York, Excl. Metro NY (Northeast)': 32.0,
 'Washington (West)': 33.0,
 'Nevada (West)': 34.0,
 'Hawaii (West)': 35.0,
 'Michigan (Midwest)': 36.0,
 'Minnesota (Midwest)': 37.0,
 'District of Columbia (South)': 38.0,
 'North Carolina (South)': 39.0,
 'Virginia (South)': 40.0,
 'Delaware (Northeast)': 41.0,
 'Chicago Metro Area (Midwest)': 42.0,
 'Kansas (Midwest)': 43.0,
 'Texas, Metro Dallas (South)': 44.0,
 'Florida (South)': 45.0,
 'Pennsylvania (Northeast)': 46.0,
 'New Hampshire (Northeast)': 47.0,
 'Oklahoma (South)': 48.0,
 'South Carolina (South)': 49.0,
 'Southern California (West)': 50.0,
 'New York Metro Area (Northeast)': 51.0,
 'Utah (West)': 52.0,
 'Puerto Rico (Other)': 53.0,
 'Indiana, Excl. Metro Chicago (Midwest)': 54.0,
 'Kentucky (South)': 55.0,
 'Maryland (South)': 56.0,
 'Mississippi (South)': 57.0,
 'Texas, Excl. Metros (South)': 58.0,
 'Wisconsin, Excl. Metro Chicago (Midwest)': 59.0,
 'Undefined': nan,
 'Unclassified': nan}

### OwnerMap

In [3]:
ownerMap = {'Foreign Ownership':0, 'Foreign Owned':0,
            'Domestic U.S. Ownership':1, 'Domestically Owned':1,
            'Government':2}

### Number of Employees

In [12]:
NumEmpMap = {'0 - 250 Employees':1,
'1 - 250 Employees':1,
'251 - 500 Employees':2,
'501 - 1000 Employees':3,
'1001 - 2500 Employees':4, 
'2501 - 5000 Employees':5, 
'5001 - 10000 Employees':6,
'10001 - 25000 Employees':7,
'25001 or More Employees':8, 
'Undefined':np.NaN}

## Data Preparation

In [59]:
keepCols = ['KF_ID','CalendarYear','RegionName','OwnershipTypeDesc','NumOfEmpDesc', 'IndustryName',
            'IndustrySectorName','IndustrySegmentName',
            'JobName','ReferenceLevelNum','IncumbentPointCount',
            'Base Salary', 'Benefit Values',
            'Fixed Annual Remuneration', 'Long Term Incentive Values',
            'Short Term Variable Payments','Target Incentive Payment (%)','Total Annual Remuneration',
            'Total Cash','Total Direct Compensation','Total Remuneration Plus','Total Earnings']

In [60]:
fileList = sorted(os.listdir(dataFolder))

In [61]:
outputFolder = './reduced_paynet_data/'

In [62]:
for i in tqdm(range(len(fileList))):
    
    print(fileList[i])
    
    if os.path.exists(os.path.join(outputFolder, fileList[i])):
        continue
    
    df = pd.read_csv(os.path.join(dataFolder, fileList[i]), usecols=keepCols)
    
    df.OwnershipTypeDesc= df.OwnershipTypeDesc.apply(lambda x : ownerMap[x] if pd.isna(x) ==False else x)
    df.NumOfEmpDesc = df.NumOfEmpDesc.apply(lambda x : NumEmpMap[x] if pd.isna(x) ==False else x) 
    df.RegionName = df.RegionName.apply(lambda x : regionMapping[x] if pd.isna(x) ==False else x)
    
    
    df.to_csv(os.path.join(outputFolder, fileList[i]),index =False, index_label = False)

  0%|          | 0/29 [00:00<?, ?it/s]

paynet_data_deidentified_1.csv

  3%|▎         | 1/29 [00:19<09:11, 19.69s/it]

paynet_data_deidentified_10.csv

/Users/roshansk/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)


  7%|▋         | 2/29 [00:35<08:23, 18.63s/it]

paynet_data_deidentified_11.csv

 10%|█         | 3/29 [00:52<07:47, 17.96s/it]

paynet_data_deidentified_12.csv

/Users/roshansk/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)


 14%|█▍        | 4/29 [01:08<07:17, 17.48s/it]

paynet_data_deidentified_13.csv

 17%|█▋        | 5/29 [01:26<07:01, 17.55s/it]

paynet_data_deidentified_14.csv

 21%|██        | 6/29 [01:43<06:41, 17.47s/it]

paynet_data_deidentified_15.csv

 24%|██▍       | 7/29 [02:00<06:21, 17.35s/it]

paynet_data_deidentified_16.csv

 28%|██▊       | 8/29 [02:17<06:00, 17.16s/it]

paynet_data_deidentified_17.csv

 31%|███       | 9/29 [02:28<05:05, 15.26s/it]

paynet_data_deidentified_18.csv

 34%|███▍      | 10/29 [02:46<05:07, 16.16s/it]

paynet_data_deidentified_19.csv

 38%|███▊      | 11/29 [03:04<05:02, 16.79s/it]

paynet_data_deidentified_2.csv

 41%|████▏     | 12/29 [03:23<04:57, 17.52s/it]

paynet_data_deidentified_20.csv

 45%|████▍     | 13/29 [03:42<04:43, 17.74s/it]

paynet_data_deidentified_21.csv

 48%|████▊     | 14/29 [04:01<04:32, 18.13s/it]

paynet_data_deidentified_22.csv

 52%|█████▏    | 15/29 [04:20<04:17, 18.42s/it]

paynet_data_deidentified_23.csv

 55%|█████▌    | 16/29 [04:39<04:00, 18.49s/it]

paynet_data_deidentified_24.csv

 59%|█████▊    | 17/29 [04:57<03:43, 18.59s/it]

paynet_data_deidentified_25.csv

 62%|██████▏   | 18/29 [05:16<03:23, 18.50s/it]

paynet_data_deidentified_26.csv

 66%|██████▌   | 19/29 [05:34<03:04, 18.47s/it]

paynet_data_deidentified_27.csv

 69%|██████▉   | 20/29 [05:53<02:47, 18.59s/it]

paynet_data_deidentified_28.csv

 72%|███████▏  | 21/29 [06:11<02:28, 18.52s/it]

paynet_data_deidentified_29.csv

 76%|███████▌  | 22/29 [06:25<01:59, 17.11s/it]

paynet_data_deidentified_3.csv

 79%|███████▉  | 23/29 [06:44<01:46, 17.75s/it]

paynet_data_deidentified_4.csv

/Users/roshansk/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,7,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)


 83%|████████▎ | 24/29 [07:02<01:29, 17.84s/it]

paynet_data_deidentified_5.csv

 86%|████████▌ | 25/29 [07:20<01:10, 17.72s/it]

paynet_data_deidentified_6.csv

 90%|████████▉ | 26/29 [07:37<00:52, 17.57s/it]

paynet_data_deidentified_7.csv

 93%|█████████▎| 27/29 [07:54<00:34, 17.40s/it]

paynet_data_deidentified_8.csv

 97%|█████████▋| 28/29 [08:12<00:17, 17.46s/it]

paynet_data_deidentified_9.csv

100%|██████████| 29/29 [08:28<00:00, 17.53s/it]

In [55]:
df = pd.read_csv(os.path.join(dataFolder, "paynet_data_deidentified_18.csv"), nrows = 100)

In [56]:
df.head()

,RowID,KF_ID,CalendarYear,ISO3CountryCode,CountryName,RegionName,OwnershipTypeDesc,NumOfEmpDesc,IndustryName,IndustrySectorName,IndustrySegmentName,JobFamilyDesc,SubfamilyDesc,JobName,ReferenceLevelNum,IncumbentPointCount,Base Salary,Benefit Values,Fixed Annual Remuneration,Hay Points,Long Term Incentive Values,Short Term Variable Payments,Target Incentive Payment (%),Total Annual Remuneration,Total Cash,Total Cash at Target,Total Direct Compensation,Total Remuneration,Total Remuneration Plus,Total Earnings
0,16633728,2,2017,USA,United States of America,Southern California (West),Domestically Owned,5001 - 10000 Employees,Retail (Services),NaN,NaN,Retail Operations,Store Management,Store Manager III,15,342,82202,NaN,NaN,342,NaN,0.0,30.0,NaN,82202,106862.0,82202,NaN,NaN,82202
1,16633729,2,2017,USA,United States of America,Colorado (West),Domestically Owned,5001 - 10000 Employees,Retail (Services),NaN,NaN,Retail Operations,Store Management,Store Manager II,14,291,77334,NaN,NaN,291,NaN,11306.0,30.0,NaN,88640,100535.0,88640,NaN,NaN,88640
2,16633730,2,2017,USA,United States of America,Southern California (West),Domestically Owned,5001 - 10000 Employees,Retail (Services),NaN,NaN,Retail Operations,Store Management,Store Manager III,15,342,98301,NaN,NaN,342,NaN,13566.0,30.0,NaN,111867,127793.0,111867,NaN,NaN,111867
3,16633731,2,2017,USA,United States of America,Southern California (West),Domestically Owned,5001 - 10000 Employees,Retail (Services),NaN,NaN,Retail Operations,Store Management,Store Manager III,15,342,74734,NaN,NaN,342,NaN,0.0,30.0,NaN,74734,97154.0,74734,NaN,NaN,74734
4,16633732,2,2017,USA,United States of America,Southern California (West),Domestically Owned,5001 - 10000 Employees,Retail (Services),NaN,NaN,Retail Operations,Store Management,Store Manager III,15,342,91187,NaN,NaN,342,NaN,0.0,30.0,NaN,91187,118541.0,91187,NaN,NaN,91187

In [57]:
df = pd.read_csv(os.path.join(dataFolder, "paynet_data_deidentified_19.csv"), nrows = 100)

In [58]:
df.head()

,RowID,KF_ID,CalendarYear,ISO3CountryCode,CountryName,RegionName,OwnershipTypeDesc,NumOfEmpDesc,IndustryName,IndustrySectorName,IndustrySegmentName,JobFamilyDesc,SubfamilyDesc,JobName,ReferenceLevelNum,IncumbentPointCount,Base Salary,Benefit Values,Fixed Annual Remuneration,Hay Points,Long Term Incentive Values,Short Term Variable Payments,Target Incentive Payment (%),Total Annual Remuneration,Total Cash,Total Cash at Target,Total Direct Compensation,Total Remuneration,Total Remuneration Plus,Total Earnings
0,17633728,616,2017,USA,United States of America,"Texas, Excl. Metros (South)",Domestically Owned,10001 - 25000 Employees,Fast Moving Consumer Goods (Industrial/Mfg.),NaN,NaN,Logistics/Supply Chain,Warehousing/Material Management,Forklift Operator,7,91,30285,NaN,NaN,91,NaN,NaN,NaN,NaN,30285,NaN,NaN,NaN,NaN,30285
1,17633729,616,2017,USA,United States of America,"Texas, Excl. Metros (South)",Domestically Owned,10001 - 25000 Employees,Fast Moving Consumer Goods (Industrial/Mfg.),NaN,NaN,Logistics/Supply Chain,Distribution/Transportation,Truck Driver,9,124,40061,NaN,NaN,124,NaN,NaN,NaN,NaN,40061,NaN,NaN,NaN,NaN,40061
2,17633730,616,2017,USA,United States of America,"Texas, Excl. Metros (South)",Domestically Owned,10001 - 25000 Employees,Fast Moving Consumer Goods (Industrial/Mfg.),NaN,NaN,Logistics/Supply Chain,Distribution/Transportation,Truck Driver,9,124,39000,NaN,NaN,124,NaN,NaN,NaN,NaN,39000,NaN,NaN,NaN,NaN,39000
3,17633731,616,2017,USA,United States of America,Undefined,Domestically Owned,10001 - 25000 Employees,Fast Moving Consumer Goods (Industrial/Mfg.),NaN,NaN,Logistics/Supply Chain,Distribution/Transportation,Truck Driver,8,106,32448,NaN,NaN,106,NaN,NaN,NaN,NaN,32448,NaN,NaN,NaN,NaN,32448
4,17633732,616,2017,USA,United States of America,"New York, Excl. Metro NY (Northeast)",Domestically Owned,10001 - 25000 Employees,Fast Moving Consumer Goods (Industrial/Mfg.),NaN,NaN,Production,Production,Machine Operator II,8,106,43742,NaN,NaN,106,NaN,NaN,NaN,NaN,43742,NaN,NaN,NaN,NaN,43742